<html>
    <head>
      <title> Luegsch! </title>
      <link rel="stylesheet" href="main.css">
    </head>
    <body> <div id="text">
      <h1> Kampagnerei </h1>
        <p> Kampagnen, Kommunikation, Social Media, Moderationen, Projektleitungen </p> <br/>
        <p> Partnerei: </p>
        <a href="http://typgenau.ch/" target="_blank"
        >Typgenau</a> <br/>
        <a href="http://dasprojektariat.ch/" target="_blank"
        >Projektariat</a>
        <p> Auftragerei:<p>
        <a href="http://ooonyva.ch/" target="_blank"
        >Ooonyva</a>

      </div>

    </body>
</html>
