h1 a {
    color: blue;

}
h1 {font-size: 20px}
.inhalt {color: red}
body {
background-image: url("Hintergrundbild.png");
background-size: cover;
font-family: Arial, sans-serif;

}
#text{background-color: white;
  position: absolute;bottom: 30px;
  right: 30px;
  width: 40%;
  padding: 20px; border-radius: 50%;
  text-align: center;
}
